#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#addBookForm {
    position: fixed;
    display: none;
    justify-content: center;
    border-color: black;
    border-style: solid;
    padding: 10px;
    background-color: white;
    z-index: 2;
}

/* buttons */

.btn-read {
    color: red;
}

.btn-unread {
    color: green;
}

/* div styles */

.bookDiv {
    border-color: lime;
    border-style: solid;
    padding: 4px;
    margin: 3px;
    display: flex;
    flex-direction: column;
    width: 20%;
}