.body {
    display: grid;
}

.gridDiv {
    display: flex;
    border-color: lime;
    border-style: solid;
    
}

.gridContainer {
    display: grid;
    
    width: 50%;
    border-color: black;
    border-style: solid;
    
}