body {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto;
    grid-template-areas: 
        '. header .'
        '. main .'
        '. footer .';
}

#main-header {
    display: grid;
    grid-area: header;
}
.gridDiv {
    display: flex;
    height: 14vw;
    border-color: black;
    border-style: solid;
    
}

.gridDiv:hover {
    background-color: lightcyan;
}

#gameBoardDiv {
    display: grid;
    grid-area: main;
    grid-template-areas:
        'one two three'
        'four five six'
        'seven eight nine';
    width: 50vw;
    border-color: black;
    border-style: solid;   
}


#div0 {
    grid-area: one;
}

#div1 {
    grid-area: two;
}

#div2 {
    grid-area: three;
}

#div3 {
    grid-area: four;
}

#div4 {
    grid-area: five;
}

#div5 {
    grid-area: six;
}

#div6 {
    grid-area: seven;
}

#div7 {
    grid-area: eight;
}

#div8 {
    grid-area: nine;
}